body {
  font-family: "Lato", sans-serif;
}

#survey-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

label,
form > p {
  margin-top: 10px;
}

form > div {
  margin-top: -1rem;
}
